<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Individual</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>Projeto Individual</h1>
    <p>Bem vindo ao Projeto Individual</p>
  </body>
</html>
