<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Individual</title>
    <link rel='stylesheet' href='/stylesheets/usuarios.css' />
  </head>
  <body>
    <h1>Usuarios</h1>
    <p>Esta é a view de usuários</p>
  </body>
</html>
